.post {
    border-radius: 10px;
    max-width: 50%;
    padding: 5px;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(21, 25, 29, .1) 5px 5px 0;
}
.post .deleteBtn,.post .upvoteBtn,.post .downvoteBtn {
  position: relative;
}

hr {
  border:10px;
  height: 20px;
  width: 100%;
	height: 50px;
	margin-top: 20px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 20px 20px 20px -20px #333;
  margin: -40px auto 10px; 
}
.post b{
  background-color: orange;
  border: none;
  color: black;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}

.post h3{
  background-color: gray;
  padding: 10px;
  color: white;
  min-width: 200px;
}
.post strong{
  display: inline-block;
    max-width: 525px;
}

.post .tags{
  background-color: lightgrey;
}
.upvoteBtn button{
  display: none;
}
.downvoteBtn button{
    display: none;
}
.deleteBtn button{
    display: none;
}
h2 {
    position: relative;
    color: white; /* Set the text color for the heading */
    padding-left: 5px;
  }
  
  h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set the width to 100% of the viewport width */
    height: 130%; /* Set the height to 100% */
    background-color: rgb(114, 79, 184); /* Set the background color for the band */
    z-index: -1; /* Position the band behind the heading */
  }

a{
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}
video, iframe{
    width: 100%;
}
img{
    width: 100%;
}