/* Basisstil für den gesamten Inhalt */
.post {
  border-radius: 10px;
  max-width: 70%;
  min-width: 300px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  text-align: left;
  font-family: Arial, sans-serif;
}

/* Stil für Schaltflächen */
.post button {
  background: #007bff;
  border: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  transition: background 0.2s, transform 0.2s;
  cursor: pointer;
}

.post button:hover {
  background: #0056b3;
  transform: scale(1.05);
}

/* Stil für b-Tags */
.post b {
  background-color: #ff5733;
  color: #fff;
  padding: 8px;
  box-shadow: 0 0 10px #ff5733;
  min-width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 8px 4px;
  border-radius: 10px;
}

/* Stil für h3-Überschriften */
.post h3 {
  background-color: #3498db;
  padding: 14px;
  color: #fff;
  min-width: 180px;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

/* Stil für strong-Tags */
.post strong {
  display: block;
  max-width: 500px;
  margin: 10px auto;
}

/* Stil für p-Elemente */
.post p {
  max-width: 90%;
  word-break: break-word;
  font-family: Arial,sans-serif;
}

/* Stil für Tags */
.post .tags {
  background-color: #eee;
  border-radius: 5px;
  padding: 6px;
}

/* Stil für Upvote, Downvote und Löschen-Buttons */
.upvoteBtn button,
.downvoteBtn button,
.deleteBtn button {
  background: #2ecc71;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
}

/* Stil für Kommentare */
.comment {
  background-color: #f9f9f9;
  color: #444;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  margin: 8px 0;
}

/* Stil für Kommentartext */
.commentText {
  background-color: #f2f2f2;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: Arial,sans-serif;

}

/* Allgemeine Stiländerungen für Formulare */
form {
  margin: 20px 0;
}

/* Stil für Formular-Submit-Buttons */
form button[type="submit"] {
  width: 160px;
  height: 50px;
  background: #029e438c;
  font-weight: 600;
  border-radius: 10px;
  border-color:rgba(255, 255, 255, 0);
  color:white;
  font-size: 18px;
}

/* Stil für Datei-Upload-Input */
form input[type="file"] {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding:10px;
  border-radius: 8px;
  width: 450px;
  margin: 4px;
  margin-bottom: 30px;


}

/* Stil für Texteingabe-Felder */
form input[type="text"],
form textarea {
  background-color: #f5f5f5;
  border: 1px solid rgba(255, 255, 255, 0);
  color: #333;
  padding: 10px;
  font-size: 16px;
  margin: 4px 0;
  border-radius: 8px;
  width: 450px;
  margin: 4px;
  margin-bottom: 30px;
 
}

::placeholder {
  color: #999;
}

/* Stil für Video- und Bild-Elemente */
video,
iframe,
img {
  width: 100%;
}

/* Stil für Dateiliste */
.filesDiv {
  display: flex;
  flex-wrap: wrap;
}

/* Stil für Überschrift h2 */
h2 {
  position: relative;
  top: 0;
  left: 0;
  font-family: Arial, sans-serif;
  color: #ffff;
  width: 100%;
  background-color: #3498db75;
  z-index: -1;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  padding: 10px 0 10px 0;
  margin: 20px 0;
}

/* Stil für Überschrift h1 im .topicName */
.topicName h1 {
  margin: 0;
  border-radius: 20px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  padding: 0 20px;
  min-width: 220px;
}

/* Stil für .topicName */
.topicName {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  background-color: #5d26a5;
  color: #fff;
  height: 80px;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
  margin: 20px 0;
  font-family: Arial, sans-serif;

}

/* Stil für Label-Elemente */
label {
  display: block;
  color: #ffffff;
  font-size: 18px;
  width: 450px;
  min-height: 24px;
  font-weight: 600;
  background-color: #5d26a559;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  margin: 5px;
  font-family: Arial, sans-serif;
  display:flex;
  padding:5px 5px ;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);



}

/* Zusätzliche Stile für bestimmte Elemente */
.filesDiv div {
  margin-right: 10px;
}

.orOrAnd {
  position: absolute;
  padding-left: 2px;
}

video, iframe {
  width: 100%;
}

img {
  width: 100%;
}

.filesDiv {
  display: flex;
  flex-wrap: wrap;
}
