.post {
  border-radius: 10px;
  max-width: 60%;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Stil für hr-Elemente */
hr {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background: #ccc;
}

/* Stil für b-Tags */
.post b {
  background-color: #ffa500;
  color: #000;
  padding: 4px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}

/* Stil für h3-Überschriften */
.post h3 {
  background-color: #555;
  padding: 10px;
  color: #fff;
  min-width: 200px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}

/* Stil für strong-Tags */
.post strong {
  display: block;
  max-width: 100%;
}

/* Stil für Tags */
.post .tags {
  background-color: #f0f0f0;
  padding: 6px;
  border-radius: 5px;
}

/* Stil für Upvote, Downvote und Löschen-Buttons */
.post .deleteBtn button,
.post .upvoteBtn button,
.post .downvoteBtn button {
  display: none;
}

/* Stil für Überschrift h2 */
h2 {
  position: relative;
  color: #333;
  padding-left: 5px;
  margin: 20px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #726F00;
  z-index: -1;
}

/* Stil für Links */
a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffa500;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: background-color 0.2s;
}

a:hover {
  background-color: #ff8c00;
}

/* Stil für Video-, iframe- und Bild-Elemente */
video,
iframe,
img {
  width: 100%;
}