html,
body {/*allgemein die ganze seite, damit die tabelle nicht über den bildschirmrand geht*/
    min-height: 100%;
    background-color: #eeeeee;
}

.searchBar {  /*die suchleisten oben links*/
    width: 300px;
    height: 30px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    z-index: 2;
}

table {/* die ganze Thementabelle*/
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
/*Die Tabelle hat nur eine Spalte, wo ein container drin is mit den ganzen Themen*/
tr {/* eine Reihe der Themen(sozusagen die Hülle für das eine Feld mit den ganzen Themen)*/
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    border-top: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 -10px 30px -10px #666;
}

td {/*das Feld in der SPalte, wo die ganzen Sachen Reinkommen*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: 150px;
    width: 100%;
}

.topic {/*ein Themencontainer, mit den gesamten Inhalten des Themas*/
    border-radius: 10px;
    max-width: 350px;
    min-width: 100px;
    min-height: 100px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(21, 25, 29, .1) 5px 5px 0;
}

.top {/* der obere Teil des Themas mit den ganzen Knöpfen*/
    display: flex;
    justify-content: space-between;
}

p {/* bisher nur bei den Fragefenstern der Text, wenn man was bearbeitet/Löscht*/
    font-size: 17px;
    margin: 0 0 0 0;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.symbolDiv {/* falls es einen Tag-Knopf gibt, werden alle kleinen Knöpfe in ein container gepackt und das is der*/
    height: 100%;
    display: flex;
    max-width: 126px;
    margin-left: 8px;
}


details {/* der Inhalt des Dropdowns*/
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 0.5em 0.5em 0;
    margin-top: 5px;
}

summary:hover {/*wenn man übr das Dropdown hovered*/
    background-color: #ddd;
    cursor: pointer;
}

summary {/*der obere Teil des Dropdown*/
    font-weight: bold;
    border-radius: 4px;
    margin: -0.5em -0.5em 0;
    padding: 0.4em;
}

details[open] {/* wenn das dropdown geöffnet wird*/
    padding: 0.5em;
    word-wrap: break-word;
}

details[open] summary {/* der obere Teil, wenn es geöffnet wird*/
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.3em;
}

.topicLink:hover{
    cursor:pointer;
}

.addWindow {/* das Fenster nachdem jemand den Add-Knopf gedrückt hat*/
    position: fixed;
    left: 30%;
    top: 10%;
    min-width: 450px;
    height: 75%;
    background-color: antiquewhite;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    z-index: 3;
}

.addForm {/* das Formular wo die ganzen Infos eingetragen werden*/
    display: flex;
    height: 70%;
    align-content: space-between;
    max-width: 100%;
    padding: 5px;
}

.tagTextField {/* das textfeld, wenn man auf den Tag-Knopf gedrückt hat*/
    background-color: aliceblue;
    border: 1px solid cornflowerblue;
    border-radius: 3px;
    color: deepskyblue;
    margin-top: 5px;
    padding: 3px 3px;
}

textarea {/* allgemein jegliche Textfelder*/
    height: 25%;
    resize: none;
    position: relative;
    width: 98%;
}
.textFieldAddW {/* die einzelnen Textfelder im Add-Fenster*/
    margin-bottom: 7px;
}
.deleteWindow {/* das Löschfenster*/
    position: fixed;
    left: 40%;
    top: 20%;
    width: 300px;
    border-radius: 5px;
    border: 2px solid black;
    height: 100px;
    background-color: #eeeeee;
    align-items: center;
}

.deleteForm {/* der untere Teil im Löschfenster, wo nur die Knöpfe drin sind*/
    margin-top: 20px;
}
/*das Grundgerüst jedes Knopfes (ich habe einfach einen aus dem Internet genommen, der gut aussah)*/
.tagButton, .editBtt, .deleteBtt, .cancelBtt, .addButton, .finishAddBtt, .yes, .no, .topicName, .backButton {
    width: 40px;
    align-items: center;
    appearance: none;
    background-color: dodgerblue;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 7px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: 25px;
    justify-content: center;
    line-height: 0.8;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
/*da der css file von oben nach unten gelesen wird, wird nachher für jeden Knopf noch einzelne Änderungen am Grundgerüst gemacht*/
.topicName {/*der Name des Themas*/
    width: auto;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    background-color: purple;
    background-image: linear-gradient(to top left, purple, mediumpurple 70%);
    word-wrap: break-word;
}
.backButton{/* der Zurück-knopf oben links*/
    height: 35px;
    width: 80px;
    background-color: red;
    background-image: linear-gradient(to top left, orangered, orange);
    border-radius: 10px;
    position: sticky;
    top: 10px;
    z-index: 2;
}

.tagButton {
    margin: 0 4px 0 0;
}

.addButton {/* der fette grüne Add-Knopf xD*/
    width: 100px;
    height: 100px;
    background-color: #2ea44f;
    background-image: linear-gradient(to top left, darkgreen, #22bd22 99%);
    font-weight: 700;
}

.cancelBtt, .yes, .no {
    width: 80px;
    background-color: red;
    background-image: linear-gradient(1deg, darkred, red 99%);
}

.cancelBtt {
    position: relative;
    left: 40%;
    top: 50px;
    width: 100px;
    height: 35px;
}

.yes {
    position: relative;
    left: 50px;
    width: 60px;
}

.no {
    position: relative;
    left: 150px;
    width: 50px;
}

.finishAddBtt {/* der finale Knopf zum endgültigen hinzufügen des Themas*/
    width: 100px;
    background-color: #2ea44f;
    background-image: linear-gradient(1deg, darkgreen, #2ea44f 99%);
    position: relative;
    left: 15%;
    top: 50px;
    line-height: 20px;
    height: 35px;
}

.deleteBtt {
    max-width: 30px;
    background-color: red;
    background-image: linear-gradient(1deg, darkred, red 99%);
    font-size: 20px;
    font-weight: 600;
    padding: 1px 1px;
}

.editBtt {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    color: white;
}
/* die ganzen Hovereffekte der Knöpfe*/
.tagButton:hover, .editBtt:hover, .addButton:hover, .deleteBtt:hover, .cancelBtt:hover, .finishAddBtt:hover, .yes:hover, .no:hover, .topicName:hover, .backButton:hover {
    background-position: -20px -20px;
    transform: translate(0, -2px);
}
